---
import Section from "./Section.astro"

---

<Section
  title="La visibilidad al alcance de un click"
  subtitle="Inicie un chat con nosotros ahora mismo"
  color="white"
  id="home"
>
  <div slot="footer">
    <a
      class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="#"
    >
      Habla con nosotros</a
    >
  </div>

  <video
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    src="../../public/video.webm"></video>
</Section>
